<section id="presentation">
	{% for aboutUs in aboutUsImage %}

		<div id="left-side">
			<img src="{{ asset('upload/' ~ aboutUs.image) }}" alt="" id="img-presentation">
		</div>
	{% endfor %}

	<div id="right-side">
		{% for aboutus in aboutUs %}
			<h3>
				{{ aboutus.titre }}
			</h3>
			<p class="about-us-presentation">
				{{ aboutus.contenu|striptags|raw }}</p>
			<hr>
		{% endfor %}

		<a class="btn btn-primary " href="{{ path('about_us')}}">en savoir plus...</a>
	</div>
</section>
