<section id="presentation">
    {% for apropos in aboutUs|slice(0, 2) %}

        <div id="left-side">
            <img src="{{ asset('upload/' ~ apropos.image) }}" alt="" id="img-presentation">
        </div>


        <div id="right-side">
            <h3>
                {{ apropos.titre }}
            </h3>
            <p class="about-us-presentation">
                {{ apropos.contenu|striptags|raw }}</p>
            <hr>


        </div>
    {% endfor %}
</section>

