:root {
    --footer-1-color: #78a3b1;
    --footer-2-color: #032B43;
    --bouton-don: #FFC436;
    --bouton-autre: #F88600;
    --text-1: #ffff;
    --text-2: #A1A1A1;
}

#actualites-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background: url(../../images/actualites.avif);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: var(--text-1)
}

.actualitesContainer {
    display: flex;
    justify-content: center;
}

#actualitesCard {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    width: 36em;
    height: 20em;
    margin-bottom: 4%;
    margin-right: 2%;
    border-radius: 15px;
    background-color: #ebeaea;
}

#actualites-card-img {
    width: 50%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

#actualites-card-body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    /* box-sizing: border-box; */
    overflow: hidden;
    text-overflow: ellipsis;

}

.desc {
    width: 250px !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

#actualites-card-body h4,
#actualites-card-body p,
#actualites-card-body a {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.actualites-card-img{
    height:12.5em;
    width: 12.5em;
}

@media screen and (max-width: 992px) {
    #actualitesCard {
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        width: 15.5em;


    }

    #actualites-card-img {
        width: 100%;
        height: 50%;
        border-radius: 15px 15px 0 0;


    }

    #actualites-card-body {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;
    }
    .desc {
        width: 10em !important;
    }
}

@media only screen and (max-width: 350px) {
    #actualitesCard {
        width: 20em;
        /* Ajuster la largeur maximale pour s'adapter aux petits écrans */
    }

    #text-card-actualites {
        width: 10em;

    }
}